@import "../../_globals";

.one {
  .inner {
    max-width: $defaultWidth;
    margin: auto;
    padding: 1rem;
    gap: 2rem;
    display: grid;
    h3 {
      color: $navGray;
      font-size: 14px;
    }

    .second {
      justify-content: space-between;
      div {
        display: flex;
        column-gap: 1rem;
        align-items: center;
        &.language {
          svg {
            margin-bottom: -2px;
          }
        }
        &.follow {
          span {
            width: 40px;
            height: 41px;
            border: 1px solid gray;
            align-items: center;
            justify-content: center;
            display: flex;
            border-radius: 50%;
            svg {
              font-size: 1.2rem;
            }
          }
        }
      }
    }
  }
}

.two {
  background-color: $navGray;
  .third {
    max-width: $defaultWidth;
    margin: auto;
    padding: 1rem;
    color: white;
    span {
      font-size: 14px;
      &:first-of-type {
        margin-right: auto;
      }
      &:last-of-type {
        margin-left: 1rem;
        padding-left: 1rem;
        border-left: 1px solid white;
      }
    }
  }
}
