@import "../../_globals";

.one {
  padding: 1rem;
  background-color: $backgroundGray;
  .inner {
    max-width: $defaultWidth;
    margin: auto;
    h3 {
      color: $navGray;
      font-size: 14px;
      margin-bottom: 1rem;
    }
    .about p {
      font-size: 13px;
    }

    .follow {
      margin-top: 2rem;
      justify-content: space-between;
      > div {
        &.country {
          // color: green;
          color: #333;
          svg {
            margin-bottom: -2px;
          }
        }
        &.followlinks {
          div {
            display: flex;
            column-gap: 0.5rem;
            a {
              width: 40px;
              height: 41px;
              border: 1px solid $navGray;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 50%;
              svg {
                font-size: 1.2rem;
              }
            }
          }
        }
      }
    }
  }
}

.two {
  background-color: $navGray;
  padding: 1rem;
  .inner {
    max-width: $defaultWidth;
    margin: auto;
    color: white;
    span {
      font-size: 14px;
      &:first-of-type {
        margin-right: auto;
      }
      &:last-of-type {
        margin-left: 1rem;
        padding-left: 1rem;
        border-left: 1px solid white;
      }
    }
  }
}

@media screen and (max-width: 565px) {
  .follow {
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start !important;
  }
}
