@import "../../_globals";

main {
  margin-bottom: 7rem;
  .track {
    //   heroimg
    .imgcont {
      padding-top: 40%;
      position: absolute;
      z-index: -1;
      background-image: url("../../../images/uthero.webp");
      background-size: cover;
      background-position: 34% 0;
      filter: brightness(0.8);
    }

    .inner {
      padding: 0 1rem;
      max-width: $defaultWidth;
      margin: auto;
      h2 {
        text-align: center;
        font-size: 55px;
        font-weight: 300;
        margin: 6rem 0 4rem;
        color: #fff;
      }
      .btngrp {
        column-gap: 1px;
        button {
          position: relative;
          width: 25%;
          height: 0;
          padding-top: 20%;
          background-color: #fff;

          &.active {
            transform: scale(1.15);
            box-shadow: 0 0 8px -1px gray;
            color: #fff;
            z-index: 1;
            background-color: $navGray;
            span {
              svg {
                .svgs {
                  stroke: #fff;
                  stroke-width: 4;
                }
                &.lastsvg .svgs {
                  stroke-width: 2;
                }
              }
            }
          }

          span {
            position: absolute;
            font-weight: 600;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            row-gap: 0.5rem;
            padding: 0 1rem;
            svg {
              height: 45px;
              width: 45px;
              .svgs {
                fill: none;
                stroke: #333;
                stroke-width: 2;
              }
              &.lastsvg {
                height: 38px;
                width: 38px;
                .svgs {
                  stroke-width: 1;
                }
              }
            }
          }
        }
      }

      form {
        margin: 3rem 0 1rem;
        display: grid;
        grid-template-columns: 77% 23%;

        // transit
        &.transittimes {
          grid-template-columns: 1fr 1fr 0.5fr;
          column-gap: 1rem;

          > :first-child {
            display: none;
          }

          > div {
            display: block;
          }
        }
        // ship
        &.ship {
          grid-template-columns: 1fr;
          > :first-child {
            display: none;
          }

          > div {
            display: none;
          }
          button {
            width: 100%;
            height: 50px;
          }
        }

        > div {
          display: none;
          position: relative;
          label {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0.5rem;
            color: #333;
            cursor: pointer;
            pointer-events: none;
            // path {
            //   stroke-width: 25;
            //   fill: none;
            //   paint-order: stroke;
            // }
          }
          select {
            cursor: pointer;
            appearance: none;
            padding: 0.3rem 1rem 0;
            height: 50px;
            width: 100%;
            color: gray;
            font-size: 14px;
            font-weight: 500;
            :first-child {
              display: none;
            }
            option {
              color: #333;
            }
          }
        }
        input {
          border-radius: 0;
          height: 50px;
        }
        button {
          border-radius: 0;
          color: #fff;
          font-weight: 600;
          width: 100%;
          height: 100%;
          font-size: 14px;
          &:active {
            transform: scale(1.05);
          }
        }
      }
      > span {
        font-weight: 600;
        color: #fff;
        margin-bottom: 2rem;
        a {
          color: #fff;
        }
        i {
          border-left: 2px solid #fff;
          margin: 0 1rem;
        }
      }
    }
  }

  section {
    display: grid;
    row-gap: 4rem;
    padding: 0 1rem;

    > article {
      font-weight: 300;
      max-width: $defaultWidth;
      margin: auto;

      h3 {
        font-weight: inherit;
      }
    }

    // safety
    .safety {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 5rem;
      background-color: #fafafa;
      padding: 2.2rem 3rem;
      .text {
        row-gap: 1rem;
        grid-template-rows: max-content;
        h3 {
          font-weight: normal;
        }
        button {
          border: 2px solid $navGray;
          border-radius: 5rem;
          padding: 12px 30px;
          width: max-content;
          align-self: flex-end;
          font-weight: bold;
          color: $navGray;
          font-size: 14px;
          &:hover {
            transform: scale(1.05);
          }
        }
      }
      .imgcont {
        padding-top: 63.5%;
      }
    }

    // updates
    .updates {
      row-gap: 1rem;
      background-color: $backgroundGray;
      padding: 3rem 5rem;
      h3 {
        font-weight: normal;
      }
      h3,
      p,
      a {
        text-align: center;
      }
      a {
        text-decoration: underline;
        color: blue;
      }
    }

    // customers
    .customers {
      row-gap: 2rem;
      h3 {
        color: $navGray;
        font-size: 35px;
        font-weight: inherit;
      }
      > h3,
      > p {
        text-align: center;
      }
      > .cards {
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
        div {
          display: grid;
          row-gap: 1rem;
          grid-template-rows: max-content;
          .imgcont {
            padding-top: 66.66%;
          }

          h3 {
            font-size: 20px;
            font-weight: 400;
          }

          a {
            font-weight: 600;
            color: $orange;
            align-self: flex-end;
            svg {
              margin-left: 0.5rem;
              margin-bottom: 2px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 425px) {
  main {
    .track {
      div.inner {
        h2 {
          font-size: 32px !important;
        }
      }
      div.imgcont {
        img {
          object-position: 20% 0;
        }
      }
    }
  }
}

@media screen and (max-width: 520px) {
  main {
    .track {
      .imgcont {
        padding-top: 250px !important;
        img {
          object-position: 20% 0;
        }
      }
      .inner {
        grid-template-columns: 100%;
        justify-content: flex-start;
        margin: 0;

        h2 {
          font-size: 38px !important;
          margin: 6rem 0 4rem;
        }
        .btngrp {
          column-gap: 0 !important;
          button {
            width: 38% !important;
            padding-top: 24% !important;
            background-color: $backgroundGray;
          }
        }
        form {
          input,
          select {
            background-color: $backgroundGray !important;
          }
        }
        > span {
          cursor: pointer;
          color: #333;
          font-size: 13px;
          a {
            color: $orange;
          }
          i {
            border-color: #333;
          }
        }
      }
    }
    .safety .text {
      h3,
      button {
        justify-self: center;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  main {
    .track {
      .imgcont {
        padding-top: 460px;
      }
      .inner {
        h2 {
          font-size: 45px;
          margin: 6rem 0 4rem;
        }
        .btngrp {
          button {
            width: 26%;
            padding-top: 22%;

            &.active {
              span svg {
                .svgs {
                  stroke: #fff;
                  stroke-width: 3;
                }
                &.lastsvg .svgs {
                  stroke-width: 1.7;
                }
              }
            }

            span {
              font-weight: 500;
              row-gap: 0.1rem;
              font-size: 11.5px;
              svg {
                height: 32px;
                width: 32px;
                .svgs {
                  stroke-width: 1.8;
                }
                &.lastsvg {
                  height: 25px;
                  width: 25px;
                  .svgs {
                    stroke-width: 1.2;
                  }
                }
              }
            }
          }
        }
      }
    }

    section {
      article {
        grid-template-columns: 1fr !important;
        row-gap: 2rem 0;
      }
      .safety {
        margin-top: 2.2rem;
        padding: 0 0 2.2rem;
        .text {
          padding: 1rem;
          order: 1;
        }
      }
      .updates {
        padding: 2rem;
      }

      .customers {
        > h3 {
          font-size: 27px !important;
        }
        .cards {
          grid-template-columns: 1fr;
          row-gap: 2rem;
        }
      }
    }
  }
}

@media screen and (min-width: 769px) {
  main {
    .track {
      .imgcont {
        padding-top: 540px;
      }
    }
  }
}
