.navoverlay {
  display: none;
}

nav {
  background-color: #304a85;
  padding: 0 1rem;
  position: relative;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 50;
  -webkit-box-shadow: 0 4px 8px -4px rgba(128, 128, 128, 0.795);
          box-shadow: 0 4px 8px -4px rgba(128, 128, 128, 0.795);
}

nav li,
nav svg,
nav img,
nav span {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

nav .inner {
  color: white;
  max-width: 970px;
  margin: auto;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
}

nav .inner img {
  cursor: pointer;
  width: 88px;
  height: 25px;
  margin-right: auto;
}

nav .inner .lang {
  cursor: pointer;
  -webkit-column-gap: 0.2rem;
          column-gap: 0.2rem;
}

nav .inner .lang svg {
  margin-bottom: 1px;
}

nav .inner button {
  color: white;
}

nav .inner button.toggle {
  margin-bottom: 2px;
}

nav .inner button svg {
  font-size: 1.2rem;
}

nav .inner .dropdown .mainul > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.2rem;
          column-gap: 0.2rem;
  font-size: 14px;
  cursor: pointer;
}

nav .inner .dropdown .mainul > li.active {
  color: #ff6200;
}

nav .inner .dropdown .mainul > li.active svg {
  -webkit-transition: -webkit-transform 0.35s;
  transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  transition: transform 0.35s, -webkit-transform 0.35s;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

nav .inner .dropdown .mainul > li.active ul {
  display: -ms-grid;
  display: grid;
}

nav .inner .dropdown .mainul > li svg {
  margin-left: auto;
  font-size: 0.9rem;
  margin-bottom: 3px;
}

nav .inner .dropdown .mainul > li ul {
  background-color: #fff;
}

nav .inner .dropdown .mainul > li ul li:hover {
  background-color: #ff62001a;
}

nav .inner .dropdown .mainul > li ul li:not(:last-child) {
  border-bottom: 1px solid #b6b6b663;
}

nav .inner .dropdown .mainul > li ul li:last-child a {
  font-weight: 600;
  color: #ff6200 !important;
}

nav .inner .dropdown .mainul > li ul li a {
  display: block;
  padding: 0.9rem;
}

nav .inner .dropdown .lang {
  display: none;
}

nav .inner .dropdown .searchform {
  -ms-grid-columns: 1fr 60px;
      grid-template-columns: 1fr 60px;
}

nav .inner .dropdown .searchform input {
  height: 45px;
}

@media screen and (max-width: 768px) {
  nav {
    padding: 0.8rem 1rem;
    width: 100%;
  }
  nav.fixed {
    height: 100vh;
    position: fixed;
  }
  nav .inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  nav .inner .toggle svg {
    font-size: 1.8rem !important;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }
  nav .inner .toggle .svgclose {
    position: absolute;
    visibility: hidden;
    opacity: 0;
  }
  nav .inner .toggle.open .svgbars {
    position: absolute;
    visibility: hidden;
    opacity: 0;
  }
  nav .inner .toggle.open .svgclose {
    position: relative;
    visibility: visible;
    opacity: 1;
  }
  nav .inner .toggle.open + .dropdown {
    display: -ms-grid !important;
    display: grid !important;
  }
  nav .inner .dropdown {
    top: 100%;
    left: 0;
    width: 100vw;
    max-width: 100%;
    display: none;
    row-gap: 1rem;
    padding: 1.5rem 0rem 0rem;
    border-radius: 0 0 0.5rem 0.5rem;
    background-color: #304a85;
  }
  nav .inner .dropdown .mainul {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    display: -ms-grid;
    display: grid;
  }
  nav .inner .dropdown .mainul > li {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 1rem 0;
  }
  nav .inner .dropdown .mainul > li ul {
    width: 100%;
    margin-top: 1rem;
    position: relative;
    display: none;
  }
  nav .inner .dropdown .searchicon {
    display: none;
  }
  nav .inner .dropdown form {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

@media screen and (min-width: 769px) {
  .navoverlay {
    background-color: #00000040;
    height: 150vh;
    width: 100vw;
    z-index: 20;
    position: fixed;
    cursor: pointer;
    left: 0;
  }
  .navoverlay.open {
    display: block;
  }
  nav .inner .toggle {
    display: none;
  }
  nav .inner .lang {
    display: none;
  }
  nav .inner .dropdown {
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 2rem;
            column-gap: 2rem;
  }
  nav .inner .dropdown .mainul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
  }
  nav .inner .dropdown .mainul > li {
    padding: 1.2rem;
  }
  nav .inner .dropdown .mainul > li.active {
    background-color: #fff;
  }
  nav .inner .dropdown .mainul > li:hover {
    color: #ff6200;
  }
  nav .inner .dropdown .mainul > li ul {
    position: absolute;
    display: none;
    width: 240px;
    top: 100%;
    left: 0%;
    -webkit-box-shadow: 0 7px 12px -6px rgba(128, 128, 128, 0.795);
            box-shadow: 0 7px 12px -6px rgba(128, 128, 128, 0.795);
  }
  nav .inner .dropdown .lang {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav .inner .dropdown .searchicon {
    border-radius: 50%;
    height: 42px;
    width: 43px;
    background-color: transparent;
    border: 1px solid white;
  }
  nav .inner .dropdown .searchicon svg {
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }
  nav .inner .dropdown .searchicon .close {
    position: absolute;
    visibility: hidden;
    opacity: 0;
  }
  nav .inner .dropdown .searchicon.open .search {
    position: absolute;
    visibility: hidden;
    opacity: 0;
  }
  nav .inner .dropdown .searchicon.open .close {
    position: relative;
    visibility: visible;
    opacity: 1;
  }
  nav .inner .dropdown .searchicon.open + form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav .inner .dropdown form {
    position: absolute;
    top: 100%;
    width: 100%;
    padding: 0.5rem;
    background-color: #304a85;
    display: none;
  }
  nav .inner .dropdown form input {
    padding: 0.5rem 1rem;
  }
  nav .inner .dropdown form button {
    padding: 0.5rem 1rem;
    height: 45px;
  }
}
/*# sourceMappingURL=index.css.map */